In [46]:
# kernel must be msd2
import sys;sys.path.append('../')
import constant as c
import os
import pandas as pd
import warnings; warnings.filterwarnings("ignore")
from util.epsg_transform import *
from shapely.geometry import *

In [51]:
# get metro origin/destination df
drr_folder_path = os.path.join(c.SSD_PATH,'drr')
drr_fname = '서울시 따릉이대여소 마스터 정보.csv'
drr_path = os.path.join(drr_folder_path, drr_fname)
drr = pd.read_csv(drr_path, encoding = 'euc-kr')
drr = drr.rename(columns = {'주소1': 'rnaddr', '위도': 'y', '경도': 'x'})
drr = drr.drop(columns = ['대여소_ID', '주소2'])
drr = drr[drr['x'] != 0]
x_5179, y_5179 = coord_tranformation(list(drr.x), list(drr.y), "epsg:4326", "epsg:5179")
drr['x_5179'] = x_5179
drr['y_5179'] = y_5179

In [52]:
drr

,rnaddr,y,x,x_5179,y_5179
2,서울특별시 양천구 목동중앙로 49,37.534390,126.869598,944303.992956,1.948528e+06
3,서울특별시 양천구 남부순환로88길5-16,37.524334,126.850548,942613.203312,1.947424e+06
4,서울특별시 양천구 신정동 621-14,37.510681,126.857399,943208.230702,1.945905e+06
5,서울특별시 양천구 목동서로161,37.529163,126.872749,944578.518921,1.947947e+06
6,서울특별시 양천구 신월로 342-1 구두수선대19,37.521511,126.857384,943215.112097,1.947107e+06
...,...,...,...,...,...
3220,서울특별시 양천구 화곡로 59,37.539551,126.828300,940659.363158,1.949126e+06
3221,서울특별시 양천구 목동동로 316-6,37.529900,126.876541,944914.110903,1.948026e+06
3223,서울특별시 양천구 신정동 236,37.510380,126.866798,944038.679369,1.945866e+06
3224,서울특별시 광진구 아차산로 262,37.536667,127.073593,962328.200861,1.948680e+06
3225,서울특별시 마포구 양화로 93,37.552746,126.918617,948647.453836,1.950537e+06

In [37]:
drr.to_csv('../asset/preprocess/features/df_drr.csv')

In [38]:
# Read df_drr
df_drr = pd.read_csv('../asset/preprocess/features/df_drr.csv', index_col = 0)

In [50]:
fpath = "../asset/rawfile/drr/공공자전거 대여소 정보(22.12월 기준)_.csv"
df_drr = pd.read_csv(fpath) #, encoding = 'cp949')
df_drr

,id,name,gu_nm,platplc,y,x,est_yyyymmdd,lcd,qr,ops,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,301,경복궁역 7번출구 앞,종로구,서울특별시 종로구 사직로 지하130 경복궁역 7번출구 앞,37.575794,126.971451,2015-10-07,20.0,NaN,LCD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,302,경복궁역 4번출구 뒤,종로구,서울특별시 종로구 사직로 지하130 경복궁역 4번출구 뒤,37.575947,126.974060,2015-10-07,NaN,12.0,QR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,303,광화문역 1번출구 앞,종로구,서울특별시 종로구 세종대로 지하189 세종로공원,37.571770,126.974663,2015-10-07,NaN,8.0,QR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,305,종로구청 옆,종로구,서울특별시 종로구 세종로 84-1,37.572559,126.978332,2015-01-07,NaN,16.0,QR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,307,서울역사박물관 앞,종로구,서울특별시 종로구 새문안로 55 서울역사박물관 앞,37.570000,126.971100,2015-10-07,NaN,11.0,QR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2714,3698,명일역 3번출구 옆,강동구,강동구 명일동 303-7,37.551426,127.144211,2022-06-20,NaN,6.0,QR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2715,3699,상일파출소 옆,강동구,강동구 상일동 520-1,37.556553,127.165878,2022-06-21,NaN,15.0,QR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2716,3700,강변그대가리버뷰 입구 맞은편,강동구,강동구 천호동 250-7,37.548164,127.122574,2022-07-08,NaN,8.0,QR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2717,3701,방아삼거리,강동구,강동구 둔촌동 118-2,37.523281,127.146133,2022-10-12,NaN,8.0,QR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2718,4951,강동농협 버스정류소 앞(광채빌라),강동구,강동구 암사동 488-21,37.547966,127.135162,2022-09-29,NaN,5.0,QR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN